:root {
    --main-color: #24252D ;
    --Section1-color: #2A2D3A;
    --Section2-color: #7D7C7C;
    --Section3-color: #191717;
    --button-color:#F31559;
}

body{
    min-height: auto;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

/* Header */
header {
    background: var(--Section1-color);
    display: flex;
    position: fixed;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo img {
    width: 35px;
    height: auto;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-right: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.btnLogin-popup span {
    justify-content: center;
    align-items: center;
}

.btnLogin-popup {
    color: var(--Section3-color);
    width: 170px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    background: gray;
    transition: 0.5s;
}


.btnLogin-popup:hover {
    background: white;
    color: var(--main-color);

}

#int {
    margin-top: 77px;
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    position: fixed;
    width: 400px;
    height: 480px;
    left: 38%;
    top: 20%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    z-index: 999;
    overflow: hidden;
    transform: scale(0);
    transition: 0.35s ease;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--Section3-color);
    border-bottom: 2px solid var(--Section3-color);
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 10px;
    background-color: var(--Section3-color);
    color: white;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    background-color: var(--Section3-color);

}

.form-box h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid white;

}

.form-box img {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.form-box a {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 0px 7px 0px;
}

.form-box a span {
    margin-left: 15px;
    color: white;
    font-size: 1rem;
}

.Show {
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: var(--Section3-color);
    width: 100%;
    height: 30px;
    border-top: 2px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-weight: 400;
    font-size: 1.2rem;
}

header .search-box {
    position: relative;
}

.search-box input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding: 20px 50px 20px 20px;
}

.search-box:target input::placeholder {
    opacity: 0;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 1.8);
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
}

.bx-cart {
    color: whitesmoke;
    font-size: 1.8rem; 
}

header .shopping {
    margin-left: 30px;
}

.explore{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  min-height: 800px;
  margin-top: 80px;
  background: var(--Section1-color);
}

.explore-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.explore-container label{
    margin-top: -20px;
}

.chart-group{
    width: 300px;
    height: 350px;
    background-color: black;
    margin: 30px 20px 5px 10px;
    border-radius: 10px;
}

.explore1{
    margin-bottom: 50px;
    margin-top: 25px;
}

.upload{
    border-radius: 5px;
    background-color: black;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

.upload:hover{
    transform: scale(1.12);
    transition: 0.25s;
}

/* footer */
footer {
    margin-bottom: 0 !important;
}