@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vidaloka;
}

:root {
  --main-color: #24252D ;
  --Section1-color: #2A2D3A;
  --Section2-color: #7D7C7C;
  --Section3-color: #191717;
  --button-color:#F31559;
}
/*header*/
li,
a {
    text-decoration: none;
    list-style: none;
}



header {
    background: var(--Section1-color);
    display: flex;
    position: fixed;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo img {
    width: 35px;
    height: auto;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-right: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.btnLogin-popup span {
    justify-content: center;
    align-items: center;
}

.btnLogin-popup {
    color: var(--Section3-color);
    width: 170px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    background: gray;
    transition: 0.5s;
}


.btnLogin-popup:hover {
    background: white;
    color: var(--main-color);

}

#int {
    margin-top: 77px;
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    position: fixed;
    width: 400px;
    height: 480px;
    left: 38%;
    top: 20%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    z-index: 999;
    overflow: hidden;
    transform: scale(0);
    transition: 0.35s ease;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--Section3-color);
    border-bottom: 2px solid var(--Section3-color);
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 10px;
    background-color: var(--Section3-color);
    color: white;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    background-color: var(--Section3-color);

}

.form-box h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid white;

}



.form-box a {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 0px 7px 0px;
}

.form-box a span {
    margin-left: 15px;
    color: white;
    font-size: 1rem;
}

.Show {
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: var(--Section3-color);
    width: 100%;
    height: 30px;
    border-top: 2px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-weight: 400;
    font-size: 1.2rem;
}

header .search-box {
    position: relative;
}

.search-box input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding: 20px 50px 20px 20px;
}

.search-box:target input::placeholder {
    opacity: 0;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 1.8);
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
}

.bx-cart {
    color: whitesmoke;
    font-size: 1.8rem; 
}

header .shopping {
    margin-left: 30px;
}

/*tbody*/
tbody{
  width: 100%;
  height: auto;

}
section {
  width: 100%;
  height: auto;
  padding: 100px 2% 10px 2%;
  display: flex;
  background-color: var(--main-color);
}
.sidebar-right {
  color: rgb(0, 0, 0);
  width: 20%; 
  height: auto;
  align-items: center;
  color: white; 
}

.image img {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  margin-right: 10px; 
  float: left;
}

.content {
  display: flex;
  justify-content: center;
}

.content-button {
  width: 150px;
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  
}

.content-button button {
  background-color: var(--button-color);
}

.content-button button {
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.content p{
  font-size: 12px;
}
.item {
  display: flex;
  align-items: center; 
  margin-top: 30px;
  margin-left: 10px;
}

/*box-class-left*/
.box-class-left {
  width: 80%;
  height: auto;
  background-color: var(--main-color);
  color: white;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.images img {
  width: 45px; 
  height: 45px;
  border-radius: 50%; 
  margin-right: 10px; 
  float: left;
  align-items: center;
}

.cnlanc {
  width: 100%;
  display: flex;
  padding: 0px 1%;
  margin-top: 30px;
}


.sign-post {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
}

.sign-post i {
  color: #191717;
}

.sign-post span{
  color: gray;
}
.information-option ul {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.information-option ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 40px;
  list-style: none;
  background-color: #D9D9D9;
  border: 1px solid black;
}

.information-option ul li a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.conten {
  display: flex;
  justify-content: center;
}

.conten p{
  font-size: 17px;
}

.conten-audio {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 25px 10px;
  padding: 20px;
  border: 2px solid #000;
  background-color: var(--Section1-color);
}

.image-audio {
  flex: 1;
  margin-right: 20px;
}

.image-audio img {
  width: 200px;
  height: 150px;
  border-radius: 10%;
}

.info-audio {
  flex: 4;
  color: white;
  
}

.button-audio button {
  padding: 10px 30px;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
}

.button-audio button:hover {
  background-color: #c0c2c4;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

audio{
  width: 80%;
  height: auto;

}
