@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vidaloka;
}

:root {
    --main-color: #999898a7;
    --Section1-color: #24252D;
    --Section2-color: #7D7C7C;
    --Section3-color: #191717;
}

li,
a {
    text-decoration: none;
}

body {
    background-color: var(--main-color);
}

header {
    background-color: #24252D;
    display: flex;
    position: fixed;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 80px;
}


.logo img {
    width: 35px;
    height: auto;
    filter: drop-shadow(0px 0px 10px white);
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-right: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.btnLogin-popup span {
    justify-content: center;
    align-items: center;
}

.btnLogin-popup {
    color: var(--Section3-color);
    width: 170px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    background: #d9d9d9;
    transition: 0.5s;
}


.btnLogin-popup:hover {
    background: var(--Section3-color);
    color: var(--main-color);

}

header .search-box {
    position: relative;
}

.search-box input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: #d9d9d9;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding: 20px 50px 20px 20px;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 1.8);
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #d9d9d9;
}

.fa-cart-shopping {
    color: white;
    font-size: 1.6rem;
}

header .shopping {
    margin-left: 30px;
}

/*FORM User*/
.container-user{
    width: 100%;
    height: 450px;

    
}

.container-user .background-image{
    width: 100%;
    height: 300px;
    position: relative;
}
.background-image{
    
}
.background-image img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    /* background-image: url("/img/anhbackgrout.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: D9D9D9 !important;
    border-bottom: 2px solid #acaaaa;
}
.container-user .user-image{
    width: 80%;
    height: 100px;
    position: absolute;
    top: 290px;
    left: 45%;
    transform: translate(-50%, -50%);

    
}
.user-image img {
    border: 2px solid #7D7C7C;
    max-width: 17%;
    background-color: #24252D;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px #7D7C7C;
}

main{
    background-color: #191717 !important;
}
.container-main {
    width: 80%;
    justify-items: center;
    align-items: center;
}
.container-main #note {
    display: flex;
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, 50%);
    height: 50px;
    color: #fff;
    margin-left: 10px;
}

.container-nav {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
}
.nav-form {
    width: 30.8%;
    border: 2px solid black;
    
}
.container-nav .nav-form {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container-nav li {
    display: inline-block;
    border-left: 1px solid rgb(193, 193, 156);

}
  
.container-nav li a {
    width: 100px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

}
  
.container-nav li a:hover {
    background-color: #ddd;
}

.fix-main{
    padding: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 2px solid #acaaaa;
    padding-top: 10px
}
.fix-main div{
    display: flex;
    
    
} 
.fix-main div p{
    margin-top: 5px;
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    width: 60px;
    color: #F1EFEF;
} 
.fix-main div span{
    margin-top: 5px;
    display: flex;
    font-size: 20px;
    width: 100px;
    color: #F1EFEF;
} 
.fix-main form{
    display: flex;
    margin-left: 30px;
} 
.fix-main div .fix-button1{
    width: 40px;
    height: 40px;
    background-color: #7D7C7C;
    border: none;
    font-size: 20px;
} 
.fix-main div .fix-button2{
    width: 250px;
    height: 40px;
    background-color: #7D7C7C;
    border: none;
    font-size: 20px;
} 
.fix-main div .fix-button3{
    width: 40px;
    height: 40px;
    background-color: #7D7C7C;
    border: none;
    font-size: 20px;
} 
.fix-main div .fix-button3:hover{
   background-color: #d9d9d9;
} 
.search-input {
    border-top-right-radius:15px; 
    border-bottom-right-radius:15px; 
    height: 40px;
    width: 550px; /* Độ rộng của ô tìm kiếm */
    padding: 5px; /* Khoảng cách bên trong ô tìm kiếm */
    outline: none; /* Loại bỏ đường viền khi ô tìm kiếm được chọn */
    font-size: 16px; /* Cỡ chữ */
    margin-left: -8px;
    border: none;
    background-color: #7D7C7C;
    color: white; /* Màu chữ */
    font-size: 20px;
  }
  
  /* CSS cho nút tìm kiếm */
  .search-button {
    border-top-left-radius:15px; 
    border-bottom-left-radius:15px; 
    height: 40px;
    padding: 5px 10px; /* Khoảng cách bên trong nút tìm kiếm */
    color: white; /* Màu chữ */
    font-size: 16px; /* Cỡ chữ */
    cursor: pointer; /* Báo hiệu khi rê chuột qua nút */
    border: none;
    background-color: #7D7C7C;
    font-size: 20px;
  }
  
  .search-button:hover {
    background: #7D7C7C; /* Màu nền khi di chuột qua nút */
  }
article {
    width: 18%;
    min-height: 600px;
    float: left;
}

.article-main li {
    display: block;
    margin: 20px;

}

.article-name {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 22px;

}

.article-name:hover {
    color: black;
}

.categorys-main{
    margin-top: 10px;
    border-bottom: 2px solid grey;
    padding: 6px;
}

.categorys-main label {
    font-size: 24px;
    padding: 3px;
    background-color: #7D7C7C;
    margin-left: 35px;
}

/*right*/
aside {
    margin-top: 10px;
    width: 82%;
    height: 600px;
    float: right;
    background-color: chartreuse;
    overflow:auto;
}
.boxcenter {
    width: 100%;
    
}
.box {
    width: 280px;
    height: 400px;
    background-color:  #ddd;
    float: left;
    margin: 10px;
    border-radius: 5px;
}
.box .box-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 280px;
}
.box img {
    width: 280px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.box-name {
    margin: 10px;
    height: 30px;
}
.box-name .box-name-product{
    float: left;
    width: 60%;
    color: #191717;
    
}
.box-name .box-name-mv{
    float: right;
    width: 30%;
    color: #191717;
}
.box-name-mv {
    border: 1px solid black;
    border-radius: 7px;
}
.box-price {
    margin: 10px;
}
.box-saleprice {
    margin: 10px;
    color: #7D7C7C;
}


/* footer */

footer {
    background-color: var(--Section3-color);
    color: var(--main-color);
    position: absolute;
    bottom: -1000px;
    width: 100%;
    height: 250px;
  }
  
 
  .container {
    /* margin: 0 auto; */
    padding: 20px;
  }
  
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo img {
    position: absolute;
    top: 30px;
    width: 35px;
    height: 35px;
  }

  .footer-logo h3 {
    position: absolute;
    left: 70px;
    top: 35px;
  }

  .footer-logo p {
    position: absolute;
    left: 25px;
    top: 80px;
    font-weight: 100;
    font-size: 14px;
    width: 150px;
    line-height: 20px;
  }

  .footer-links {
   position: absolute;
   left: 600px;
   top: 25px;
  }
  
 .footer-links p {
    font-size: 2rem;
    
 }
  
 .footer-links .links  {
    position: absolute;
    top: 80px;
 }

 .footer-links .links a {
    text-decoration: none;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #000;
 }

 .footer-links .links a i {
    font-size: 2.4rem;
    color: #F1EFEF;
    display: flex;

    
    align-items: center;
   
 }
  
 .bxl-github {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 6px;
    border: 1px solid var(--main-color);
 }

 .bxl-discord-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 70px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 6px;
    border: 1px solid var(--main-color);
 }

 .bxl-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 140px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 6px;
    border: 1px solid var(--main-color);
 }

 .bxl-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 210px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 6px;
    border: 1px solid var(--main-color);
 }

 .footer-social {
    position: absolute;
    right: 200px;
 }

 .footer-social h3 {
    position: absolute;
    top: 15px;
    width: 150px;
    font-weight: 200px;
    font-size: 1.3rem;
 }

 .footer-social p {
    position: absolute;
    top: 50px;
    right: -200px;
    line-height: 20px;
    width: 350px;
    text-indent: 20px;
    font-weight: 100px;
    font-size: 0.9rem;
 }

 .footer-social .login-email {
    display: flex;
    position: absolute;
    top: 120px;
    right: -100px;
 }

 .footer-social .login-email input {
    color: whitesmoke;
    background: transparent;
    border: 1px solid gray;
    width: 200px;
    height: 40px;
    border-radius: 10px;
 }

 .footer-social .login-email button {
    width: 80px;
    height: 40px;
    color: #FCF8F8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #1678A2 ;
    border-radius: 10px;
    position: absolute;
    right: -90px;
 }

 .footer-bottom {
    display: flex;
    position: absolute;
    top: 120px;
    width: 90%;
 }

 .footer-bottom img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 100px;
 }

 .footer-bottom h4 {
    position: absolute;
    left: 30px;
    font-size: 15px;
    top: 101px;
 }

 .footer-bottom .private {
    display: flex;
    position: absolute;
    right: -120px;
    font-size: 15px;
    top: 101px;
 }

 .footer-bottom .private p {
    padding-right: 15px;
 }

 .line {
    content: '';
    position: absolute;
    width: 1430px;
    border-top: 1px solid var(--main-color);
    top: 95px;
    
 }
