.explore{
    display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  min-height: 800px;
}

.explore-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.explore-container label{
    margin-top: -20px;
}

.chart-group{
    width: 300px;
    height: 350px;
    background-color: black;
    margin: 30px 20px 5px 10px;
    border-radius: 10px;
}

.explore1{
    margin-bottom: 50px;
}

.search{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-formGroup input{
    width: 800px;
    height: 50px;
    border-radius: 5px;
    background-color: #24252d;
    border: 1px solid grey;
}

.upload{
    border-radius: 5px;
    background-color: black;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

.upload:hover{
    transform: scale(1.12);
    transition: 0.25s;
}


