.explore{
    display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;
  width: 100%;
  min-height: 800px;
}

.explore-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.explore-container label{
    margin-top: -20px;
}

.chart-group{
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 270px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 30px 20px 5px 10px;
    border-radius: 10px;
}

.chart-group .anh{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.chart-group img {
    position: absolute;
    right: 0;
    width: 60%;
    height: auto;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

.explore1{
    margin-bottom: 40px;
}

.search{
  display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-formGroup input{
    width: 800px;
    height: 50px;
    border-radius: 5px;
    background-color: #24252d;
    border: 1px solid grey;
}

.upload{
    border-radius: 5px;
    background-color: black;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

.upload:hover{
    transform: scale(1.12);
    transition: 0.25s;
}


